# First Look at Pandas

### DataFrame

In [1]:
import numpy as np
import pandas as pd

In [2]:
df_middleearth = pd.DataFrame(
        {
            "City":["Gondor","Mordor","Lothlorien","Umbar"],
            "Population":[10000, 100000, 1000, 2000],
            "Wealth":[100000, 200000, 200000, 10000],
            "isGood":[True, False, True, False]
        }
)

In [3]:
df_middleearth

         City  Population  Wealth  isGood
0      Gondor       10000  100000    True
1      Mordor      100000  200000   False
2  Lothlorien        1000  200000    True
3       Umbar        2000   10000   False

In [4]:
df_middleearth["GDP"] = df_middleearth["Wealth"]/df_middleearth["Population"]
df_middleearth

         City  Population  Wealth  isGood    GDP
0      Gondor       10000  100000    True   10.0
1      Mordor      100000  200000   False    2.0
2  Lothlorien        1000  200000    True  200.0
3       Umbar        2000   10000   False    5.0

In [5]:
columns = ["City", "Population", "Wealth", "GDP","isGood"]
df_middleearth = df_middleearth[columns].copy()
df_middleearth

         City  Population  Wealth    GDP  isGood
0      Gondor       10000  100000   10.0    True
1      Mordor      100000  200000    2.0   False
2  Lothlorien        1000  200000  200.0    True
3       Umbar        2000   10000    5.0   False

In [6]:
df_middleearth.index = [1,2,3,4]
df_middleearth

         City  Population  Wealth    GDP  isGood
1      Gondor       10000  100000   10.0    True
2      Mordor      100000  200000    2.0   False
3  Lothlorien        1000  200000  200.0    True
4       Umbar        2000   10000    5.0   False

In [7]:
df_middleearth[df_middleearth["City"] == "Lothlorien"]["Wealth"]

3    200000
Name: Wealth, dtype: int64

In [8]:
df_middleearth.loc[3]["Wealth"]

200000

In [9]:
df_middleearth.iloc[2]["Wealth"]

200000

In [10]:
df_middleearth.loc[3]

City          Lothlorien
Population          1000
Wealth            200000
GDP                  200
isGood              True
Name: 3, dtype: object

In [11]:
df_middleearth.index = list(df_middleearth["City"])
df_middleearth

                  City  Population  Wealth    GDP  isGood
Gondor          Gondor       10000  100000   10.0    True
Mordor          Mordor      100000  200000    2.0   False
Lothlorien  Lothlorien        1000  200000  200.0    True
Umbar            Umbar        2000   10000    5.0   False

In [12]:
df_middleearth.loc["Gondor"]

City          Gondor
Population     10000
Wealth        100000
GDP               10
isGood          True
Name: Gondor, dtype: object

In [13]:
df_middleearth.loc["Lothlorien"]["Population"]

1000

In [30]:
def happinessindex(row):
    pop = row["Population"]
    gdp = row["GDP"]
    isgood = row["isGood"]
    factor = 2 if isgood else 0.5
    return pop*gdp*factor

In [31]:
df_middleearth["HappyIndex"] = df_middleearth.apply(
                            happinessindex,
                            axis = 1
)
df_middleearth

                  City  Population  Wealth    GDP  isGood  HappyIndex
Gondor          Gondor       10000  100000   10.0    True    200000.0
Mordor          Mordor      100000  200000    2.0   False    100000.0
Lothlorien  Lothlorien        1000  200000  200.0    True    400000.0
Umbar            Umbar        2000   10000    5.0   False      5000.0